<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
  	xmlns:th="http://www.thymeleaf.org"
  	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  >
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/bootstrap.min.css}"/>
	<script th:src="@{/javascripts/jquery-3.2.1.min.js}" ></script>	
	<script th:src="@{/javascripts/bootstrap.min.js}" ></script>
	<script th:src="@{/javascripts/bootstrap-collapse.js}" ></script>
	<style> 
		body {
				background-image: url("/img/wallpaper_movieTheather_4.jpg");
				}
				
		.navbar-brand > img { /*overwrites display:block*/
			display: inline;
		 }
			.jumbotron {
				width: 600px;			
				margin-top: 20px;
				margin-left: auto;
				margin-right: auto;
				padding: 20px 20px 20px 20px;
			}
			.gallery{
				width: 1000px;
				background-color:#CFCFCF;
			}
			
	</style>
</head>

<body>

	 <nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Movie Theather</a>
			</div>
			<ul class="nav navbar-nav">
				<li th:class="${activeTab =='home'}? 'active' : null " ><a href="#" th:href="@{/movieTheather/showMovies}"><span class="glyphicon glyphicon-th-list" ></span> Home</a></li>
				<li th:class="${activeTab =='addMovie'}? 'active' : null " th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a href="#" th:href="@{/movieTheather/newMovie}"><span class="glyphicon glyphicon-plus" ></span> Add Movie</a></li>
				<li th:class="${activeTab =='addCategory'}? 'active' : null " th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a href="#" th:href="@{/movieTheather/newCategory}"><span class="glyphicon glyphicon-plus" ></span> Add Category</a></li>
				<li th:class="${activeTab =='myCategories'}? 'active' : null " th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a href="#" th:href="@{/movieTheather/showCategories}"><span class="glyphicon glyphicon-plus" ></span> My Categories</a></li>
				<li th:class="${activeTab =='addUser'}? 'active' : null " th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a href="#" th:href="@{/movieTheather/newUser}"><span class="glyphicon glyphicon-plus" ></span> Add User</a></li>
				
  			</ul>
  			<ul class="nav navbar-nav navbar-right">
 			<li>
 					<p class="navbar-text" th:text="${#authentication.name}"></p>
 				</li>
  				<li><a href="#" th:href="@{/movieTheather/logout}">
  					<span class="glyphicon glyphicon-log-out" >
  					</span>Logout</a>
 				</li>
 			</ul>
		</div>
	  </nav>
	<section layout:fragment="conteudo">	
	</section>
	
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container text-center">
		<p class="navbar-text col-md-12">
			Movie Theather Site - DCEL/CEUNES/UFES
		</p>
		</div>
	</nav>
	
</body>
</html>