<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	layout:decorator="movieTheather/layout/layoutPadrao" th:with="activeTab='addMovie'"
>


<head>
	<title>Add a movie </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>




<body>

  <section layout:fragment="conteudo">	
	<!-- <div th:replace="beer/Navbar :: navbar('cadastro')"></div> -->
	<div class="jumbotron">
		<h1>New movie</h1>
	
		<form method="POST" th:object="${movie}" th:action="@{/movieTheather/saveMovie}">
		
		
			<div class="alert alert-success" th:if="${not #strings.isEmpty(mensagem)}">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span class="glyphicon glyphicon-ok" ></span>
				<span th:text="${mensagem}" ></span>
			</div>
			
			<div class="form-group alert alert-danger" th:if="${#fields.hasAnyErrors()}">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<th:block th:each="erro: ${#fields.detailedErrors()}">
					<span class="glyphicon glyphicon-th-remove" ></span>
					<br><span th:text="${erro.message}" /></br>

				</th:block>
				
			</div>
			
			<div class="form-group" th:classappend="${#fields.hasErrors('title')} ? has-error"> 
				<label for="title" class="control-label" >Title*</label>
				<input id="title" class="form-control" type="text" th:field="*{title}" /> <br/>
			</div>
			
			<div class="form-group" th:classappend="${#fields.hasErrors('originCountry')} ? has-error">
				<label for="originCountry" class="control-label" >Origin Country*</label>
				<input id="originCountry" class="form-control" type="text" th:field="*{originCountry}"/> <br/>
			</div>
			
			<div class="form-group" th:classappend="${#fields.hasErrors('category')} ? has-error">
				<label for="category" class="control-label"  >Category*</label>
				<select id="tipo" class="form-control" th:field="*{category}">
					<option value="">Select a category*</option>
					<option th:each="category : ${lstCategory}" th:value="${category.idCategory}" th:text="${category.label}" ></option>
				</select>
			</div>
			
			<div class="row">
				<div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('author')} ? has-error" >
					<label for="author" class="control-label">Author*</label>
					<input id="author" class="form-control" type="text" th:field="*{author}"/> <br/>
				</div>
				
				<div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('durationMin')} ? has-error" >
					<label for="durationMin" class="control-label">Duration*</label>
					<input id="durationMin" class="form-control" type="text" th:field="*{durationMin}"/> <br/>
				</div>
			</div>
			
		   <div class="row">
				<div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('urlCover')} ? has-error" >
						<label for="urlCover" class="control-label">Url Cover</label>
						<input id="urlCover" class="form-control" type="text" th:field="*{urlCover}"/> <br/>
					</div>
					

				<div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('director')} ? has-error" >
						<label for="director" class="control-label">Director*</label>
						<input id="director" class="form-control" type="text" th:field="*{director}"/> <br/>
				</div>
			</div>
			
		<div class="row">
			<div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('yearRelease')} ? has-error" >
					<label for="yearRelease" class="control-label">Year release*</label>
					<input id="yearRelease" class="form-control" type="text" th:field="*{yearRelease}"/> <br/>
			</div>
			
			<div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('typeTech')} ? has-error" >
				<label for="typeTech" class="control-label">Technology*</label>
				<select id="typeTech" class="form-control" th:field="*{typeTech}">
					<option value="">Select tech</option>
					<option th:each="tech : ${lstTech}" th:value="${tech}" th:text="${tech.description}" ></option>
				</select>
			</div>
		</div>
		
		 <div class="row">	
			<div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('sinopse')} ? has-error" >
					<label for="sinopse" class="control-label">Sinopse*</label>
              		<textarea name="sinopse"  class="form-control" cols="70" rows="5" th:field="*{sinopse}"> </textarea>		
			</div>
		 </div>
			
			
			
			
			
			<button type="submit" class="btn btn-primary btn-block">Save</button>
			
		</form>
		
	</div>
	</section>
</body>
</html>