<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	layout:decorator="movieTheather/layout/layoutPadrao" th:with="activeTab='addUser'"
>


<head>
	<title>Add a user </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>




<body>

  <section layout:fragment="conteudo">	
	<div class="jumbotron">
		<h1>New user</h1>
	
		<form method="POST" th:object="${user}" th:action="@{/movieTheather/saveUser}">
		
		
			<div class="alert alert-success" th:if="${not #strings.isEmpty(mensagem)}">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span class="glyphicon glyphicon-ok" ></span>
				<span th:text="${mensagem}" ></span>
			</div>
			
			  <div class="form-group alert alert-danger" th:if="${#fields.hasAnyErrors()}">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<th:block th:each="erro: ${#fields.detailedErrors()}">
					<span class="glyphicon glyphicon-th-remove" ></span>
					<br><span th:text="${erro.message}" /></br>

				</th:block>
				
			</div> 
			 
			<div class="form-group" th:classappend="${#fields.hasErrors('username')} ? has-error"> 
				<label for="username" class="control-label" >Name*</label>
				<input id="username" class="form-control" type="text" th:field="*{username}" /> <br/>
			</div>
			
			<div class="form-group" th:classappend="${#fields.hasErrors('fullname')} ? has-error">
				<label for="fullname" class="control-label" >Full name*</label>
				<input id="fullname" class="form-control" type="text" th:field="*{fullname}"/> <br/>
			</div>
			
			<div class="form-group" th:classappend="${#fields.hasErrors('password')} ? has-error">
				<label for="password" class="control-label" >Password*</label>
				<input id="password" class="form-control" type="text" th:field="*{password}"/> <br/>
			</div>
			
			<div class="form-group" th:classappend="${#fields.hasErrors('role')} ? has-error">
				<label for="role" class="control-label"  >Role*</label>
				<select id="role" class="form-control" th:field="*{role}">
					<option value="">Select a Role*</option>
					<option th:each="role : ${lstRoles}" th:value="${role}" th:text="${role.description}" ></option>
				</select>
			</div>
			
			<button type="submit" class="btn btn-primary btn-block">Save</button>
			
		</form>
		
	</div>
	</section>
</body>
</html>