<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	layout:decorator="movieTheather/layout/layoutPadrao" th:with="activeTab='editCategory'"
>

<head>
	<title>Edit a category </title>
	<meta charset="utf-8" />
</head>


<body>

  <section layout:fragment="conteudo">	
  
	<div class="jumbotron">
		<h1>Edit Category</h1>
	
		
			
		<form method="POST" th:object="${category}" th:action="@{/movieTheather/updateCategory/{id}(id=${category.idCategory})}" >
			
			<input type="hidden" name="idCategory" th:field="${category.idCategory}"/> 
			<div class="alert alert-success" th:if="${not #strings.isEmpty(mensagem)}">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span class="glyphicon glyphicon-ok" ></span>
				<span th:text="${mensagem}" ></span>
			</div>
			
			<div class="form-group alert alert-danger" th:if="${#fields.hasAnyErrors()}">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<th:block th:each="erro: ${#fields.detailedErrors()}">
					<span class="glyphicon glyphicon-th-remove" ></span>
					<br><span th:text="${erro.message}" /></br>

				</th:block>
				
			</div>
			
			<div class="form-group"  th:classappend="${#fields.hasErrors('label')} ? has-error">
				<label for="label" class="control-label">Label</label>
				<input id="label" class="form-control" type="text" th:field="*{label}"/> <br/>
			</div>
			
			<div class="form-group"  th:classappend="${#fields.hasErrors('ageLimit')} ? has-error">
				<label for="ageLimit" class="control-label">Age limit</label>
				<input id="ageLimit" class="form-control" type="text" th:field="*{ageLimit}"/> <br/>
			</div>
			
			
			<div class="form-group col-sm-6"  th:classappend="${#fields.hasErrors('observation')} ? has-error" >
					<label for="observation" class="control-label">Observation</label>
              		<textarea name="observation" cols="65" rows="5" th:field="*{observation}"> </textarea>		
			</div>
			
			
			
			<button type="submit" class="btn btn-primary btn-block">Save</button>
			
		</form>
		
	</div>
	</section>
</body>
</html>