<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	layout:decorator="movieTheather/layout/layoutPadrao" th:with="activeTab='home'"
>

<head>
	<title>Movies</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>

  <section layout:fragment="conteudo">	
   <div class="panel panel-default">
	  <div class="panel-heading">
	 	 <h1>Welcome Movie Theather!</h1>
	    <h3 class="panel-title">The best is here</h3>
	  </div>
	 
	  <div class="panel-body">
		  
  		<div class="alert alert-success" th:if="${not #strings.isEmpty(message)}">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<span class="glyphicon glyphicon-ok" ></span>
			<span th:text="${message}" ></span>
		</div> 
			
		    <div  class="row">
		        <div th:each="movie : ${movies}"  class="col-sm-2">
		            <div class="thumbnail">
		                <img th:src="@{/img/{url}(url=${movie.urlCover})}" class=""/>
		                <div class="caption">
		                     <h4 class="text" th:text="${movie.title}"></h4>
						 	 <a th:href="@{/movieTheather/showMoviesbyCategory/{id}(id=${movie.category.idCategory})}"> <span class="label label-default" th:text="${movie.category.label}"></span></a>
		                    <p class="" th:text="${movie.sinopse}"></p>
		                     <a href="#" class="btn btn-default btn-xs pull-right" th:if="${#authorization.expression('hasRole(''admin'')')}" role="button" th:href="@{/movieTheather/editMovie/{id} (id=${movie.idMovie})}"><i class="glyphicon glyphicon-edit"></i></a>  
		                     <a class="btn btn-default btn-xs pull-right" th:href="@{/movieTheather/removeMovie/{id} (id=${movie.idMovie})}"><span class="red glyphicon glyphicon-remove"></span></a>
		                     <a href="#" class="btn btn-default btn-xs" role="button" th:href="@{/movieTheather/viewMovie/{id}(id=${movie.idMovie})}">More Info</a>
							
		                </div>
		            </div>
		        </div>      
		    </div>
		   
  	</div>
   </div>
</section>
</body>
</html>