<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	layout:decorator="movieTheather/layout/layoutPadrao" th:with="activeTab=''"
>

<head>
	<title>Edit a category </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
 	
	<style>
			.jumbotron {
				width: 500px;
				#margin-top: 20px;
				margin-left: auto;
				margin-right: auto;
				padding: 20px 20px 20px 20px;
			}
		</style>
</head>




<body>

  <section layout:fragment="conteudo">	
  
	<div class="jumbotron">
		<h1 th:text="${category.label}"></h1>
		<h3 th:text="${category.ageLimit}"></h3>
		
		Exists <span th:text="${category.lstMovies.size()}" ></span> movie(s) dependents. Confirm deletion?
		<div class="table-responsive" >
	<table id="tabela-cervejas" class="table table-striped table-bordered table-hover table-condensed">
			<thead>
				<tr>
					<th class="text-center">Movies</th>
					<th class="text-center">Year Release</th>
					
				</tr>
			</thead>
		<tbody>
			<tr th:each="movie : ${category.lstMovies}">
				<td> <a th:href="@{/movieTheather/view/{id}(id=${movie.idMovie})}" th:text="${movie.title}"></a></td>
				<td th:text="*{yearRelease}"></td>
			</tr>
			<tr th:if="${category.lstMovies.empty}">
				<td colspan="6">Movies not found!</td>
			</tr>
			
		</tbody>		
	</table>

	
	</div>
		
		<button class="btn btn-block"> <a th:href="@{/movieTheather}">Back</a></button>
		<form method="POST" th:object="${category}" th:action="@{/movieTheather/removeCategory/{id}(id=${category.idCategory})}" >
					
			<button type="submit" class="btn btn-danger btn-block">Yes</button>
		</form>
		
	</div>
	</section>
</body>
</html>